ul {
  list-style: none;
  margin: 0px;
  padding: 20px;
  /* for inline elements */
  text-align: center;
}

li {
  color: white;
  height: 80px;
  line-height: 80px;
}

.li1 {
  background-color: #ffc562;
}

.li2 {
  background-color: #0043fc;
}
.li3 {
  background-color: #ff62fa;
}
.li4 {
  background-color: #c61b40;
}

.flex-list {
  /*  */
  display: flex;
}

.flex-list li {
  /*fill as much space as it can */
  flex: auto;
}

/* layout for Tablet Devices */
/* (670px, 1000px) */
@media (max-width: 1000px) {
  /* set on the parent of the elements
  you want to wrap */
  .flex-list {
    flex-wrap: wrap;
  }

  /* set on the elements you want to wrap */
  /* when using a %, the size element will
   become relative to the size of its parents */
  .flex-list li {
    width: 50%;
  }
}

/* Layout for smartphone devices */
/*(0,670px) */
@media (max-width: 670px) {
  /* set on the parent of the elements
  you want to wrap */
  .flex-list {
    flex-direction: column;
  }

  .flex-list li {
    /*for block elements  */
    margin: 0 auto;
  }
}
