ul {
  list-style: none;
  margin: 20px;
  padding: 20px;
  /* for inline elements */
  text-align: center;
}

li {
  color: white;
  height: 80px;
  line-height: 80px;
}

.li1 {
  background-color: #ffc562;
}

.li2 {
  background-color: #0043fc;
}
.li3 {
  background-color: #ff62fa;
}
.li4 {
  background-color: #c61b40;
}
